<div class="row">
  <div class="col-md-11">
    <p class="message-text">
      <span class="text-muted"><%= message.user.name %> at <%= message.timestamp %> says</span>
      <br>
    <div class="message-body' %>">
      <%= message.body %>
    </div>
    </p>
  </div>
</div>